.fav_icon_container_top_rated_page {
  position: absolute;
  display: flex;
  width: 2rem;
  height: 2rem;
  bottom: 0.5rem;
  right: 1rem;
  color: var(--clr-text-neutral);
  background-color: var(--clr-primary-neutral);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.iconAdded {
  color: #eabc17;
  align-self: center;
  justify-self: center;
}
.iconNotAdded {
  color: white;
  align-self: center;
  justify-self: center;
}
.favIconContainerFavPage {
  position: absolute;
  display: flex;
  width: 2rem;
  height: 2rem;
  bottom: 0.5rem;
  right: 1rem;
  color: var(--clr-text-neutral);
  background-color: var(--clr-primary-neutral);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
