:root {
  --margin-left-max: calc(max(1728px, 100%) * 0.08418);
  --margin-left-min: calc(min(1728px, 100%) * 0.08418);
  /* --margin-left: 8.674%; */
}

.logoContainer {
  display: flex;
  width: 116px;
  height: 56px;
  /* margin-left: 132px; */
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-neutral);
}

.logoText {
  color: var(--clr-primary-accent);
  font-family: var(--ff-heading);
  font-size: var(--fs-primary-large);
}
