.section_topRated_card_container {
  position: relative;
  width: 320px;
  height: 100%;
}
.image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  filter: blur(1px);
  object-fit: cover;
}
.movieDetailOverlay {
  position: absolute;

  width: 100%;
  height: 64px;

  bottom: 0;
  background: var(--gradient-to-bottom-neutral);
}
.movieName {
  margin-left: 1rem;
  margin-top: 0.25rem;
  font-family: var(--ff-heading);
  color: var(--clr-primary-accent);
  font-weight: var(--fw-primary-900);
}
.releaseDate {
  margin-left: 1rem;
  font-family: var(--ff-paragraph);
  color: var(--clr-primary-accent);
  font-weight: var(--fw-primary-400);
}
.sectionFavCardContainer {
  position: relative;
  width: 500px;
  height: 100%;
  box-shadow: -24px 60px 148px 16px black;
  border-radius: 2rem;
  padding: 0;
}
.favourites_icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
@media (max-width: 1200px) {
  .movieName {
    margin-left: 1rem;
    margin-top: 0.25rem;
    font-family: var(--ff-heading);
    font-size: var(--fs-primary-small);
    color: var(--clr-primary-accent);
    font-weight: var(--fw-primary-900);
  }
  .releaseDate {
    margin-left: 1rem;
    font-family: var(--ff-paragraph);
    color: var(--clr-primary-accent);
    font-weight: var(--fw-primary-400);
    font-size: var(--fs-primary-small);
  }
}
