:root {
  --margin-left-nav-link: calc(max(1728px, 100%) * 0.016);
  --margin-left-nav-link: calc(min(1728px, 100%) * 0);
  --width-search-bar: 32.951%;
  --height-search-bar: 45.5%;
}

.nav_links_container {
  margin-left: var(--margin-left-nav-link);
}
.nav_list {
  display: flex;
  width: calc(max(1728px, 100%) * 0.14884);
  gap: calc(min(1728px, 100%) * 0.0075);
  gap: calc(max(1728px, 100%) * 00.0125);
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-family: var(--ff-paragraph);
  font-size: var(--fs-custom-text);
  color: var(--clr-primary-neutral);
  letter-spacing: 0.05ch;
  text-wrap: nowrap;
}
.btnlogout {
  background-color: var(--clr-secondary-neutral);
  color: var(--clr-primary-neutral);
  border: 1px solid var(--clr-primary-neutral);
  font-family: var(--ff-paragraph);
  font-size: var(--fs-custom-text);
  height: 1.5rem;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}
.btnlogout:hover {
  background-color: var(--clr-primary-neutral);
  color: var(--clr-secondary-neutral);
}
@media (max-width: 650px) {
  .hamburg_icon {
    display: block;
  }
  .nav_links_container {
    display: none;
  }
}
@media (max-width: 950px) {
  .nav_links_container {
    margin-left: 2rem;
  }
}
