.NavLinksContainer {
  margin-top: 3rem;
  margin-left: 11.5rem;
}

.navList {
  display: flex;
  font-size: 16px;
  font-family: "Proxima Nova";
  font-weight: "Regular";
  color: #070600;
  gap: 3.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  /* padding: 1rem 4rem 0 0; */
}

.btnlogout {
  margin-top: 0;
  cursor: pointer;
  background-color: #070600;
  color: white;
}

.btnlogout:hover {
  background-color: #eabc17;
}
a {
  text-decoration: none;
  color: #070600;
}
