.rating_star_wrapper {
  display: flex;
  gap: 0.25rem;
}

.star_icon_clicked {
  color: var(--clr-primary-accent);
}
.star_icon {
  color: var(--clr-tertiary-neutral);
  /* color: white; */
}
.star_icon_clicked {
  color: var(--clr-primary-accent);
}
.star_icon:hover {
  color: var(--clr-primary-accent);

  /* color: white; */
}
