.searchBarContainer {
  display: flex;
  margin-top: 3rem;
  margin-left: 35rem;
}
.searchBar {
  /* margin: 3rem 0 0 0; */
  padding: 0rem 0 0 2rem;
  height: 2rem;
  width: 48rem;
  background-color: rgba(56, 54, 46, 1);
  color: white;
  border-radius: 0.2rem;
  border: none;
  align-items: center;
}
.upArrow {
  width: 2rem;
  height: 2rem;
  color: white;

  margin-left: 1rem;
}
.downArrow {
  width: 2rem;
  height: 2rem;
  color: white;
}
