.mainSection {
  margin-top: 1rem;
  width: 90%;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
  /* background-color: green; */
}
.headerSection {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
