.aboutSectionContainer {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: var(--clr-secondary-neutral);
  gap: 1.5rem;
}
.genre {
  letter-spacing: 0.25ch;
}
.actors {
  letter-spacing: 0.25ch;
}
.storyline_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.storyLine {
  font-family: var(--ff-heading);
  font-size: var(--fs-primary-medium);
  font-weight: var(--fw-primary-900);
  color: var(--clr-primary-accent);
  letter-spacing: 0.2ch;
}
.storyLineDetail {
  color: var(--clr-secondary-neutral);
  letter-spacing: 0.1ch;
  line-height: 2rem;
}
