.wrapper_container {
  width: 100%;
  height: calc(max(1728px, 100%) * 0.2);
  margin: 0;

  /* overflow-x: hidden; */
}
.movie_list_container {
  background-color: var(--clr-overlay);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: 2rem;
  border-radius: 8px;
}

.movie_list_container::-webkit-scrollbar {
  display: none;
}

.movie_detail_container {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  margin-inline: 1rem;
  margin-block: 0.5rem;
  background-color: var(--clr-primary-neutral);
  gap: 0.5rem;
  height: 96px;
  border-radius: 8px;
  align-items: center;
}
.image_overlay_container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.image_overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  filter: blur(2px);
}
.imageContainer {
  position: relative;
  width: 4rem;
  height: 100%;
  border-radius: 8px;
  background-color: gray;
}
.image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;

  object-fit: cover;
}
.movie_name_container {
  color: var(--clr-secondary-neutral);
  z-index: 1;
}
.movieYearContainer {
  color: var(--clr-secondary-neutral);
  z-index: 1;
  text-align: center;
}
.movieName {
  font-family: var(--ff-paragraph);
  font-weight: var(--fw-secondary-400);
  font-size: var(--fs-custom-text);
  letter-spacing: 0.18ch;
}
.movieYear {
  font-family: var(--ff-paragraph);
  font-weight: var(--fw-secondary-400);
  font-size: var(--fs-custom-text);
  letter-spacing: 0.18ch;
}
.movie_section_name {
  font-family: var(--ff-paragraph);
  font-weight: var(--fw-secondary-400);
  font-size: var(--fs-custom-text);
  margin-bottom: 0.5rem;
  letter-spacing: 0.18ch;
}

@media (max-width: 1200px) {
  .wrapper_container {
    position: relative;
    width: calc(max(950px, 100%) * 0.7);
    margin-left: 0rem;
    height: 40%;
    padding-right: 5rem;
    border-radius: 5px;
  }
  .movieName {
    font-family: var(--ff-paragraph);
    font-weight: var(--fw-secondary-900);
    font-size: calc(var(--fs-custom-text) * 0.75);
    letter-spacing: 0.18ch;
  }
  .movieYear {
    font-family: var(--ff-paragraph);
    font-weight: var(--fw-secondary-400);
    font-size: var(--fs-custom-text);
    letter-spacing: 0.18ch;
  }
  .movie_section_name {
    font-family: var(--ff-paragraph);
    font-weight: var(--fw-secondary-900);
    font-size: calc(var(--fs-custom-text) * 0.75);
    margin-bottom: 0.5rem;
    letter-spacing: 0.18ch;
  }
}
@media (max-width: 650px) {
  .wrapper_container {
    margin: 0;
    margin-top: 0;

    padding: 0;
    width: 70%;
    height: 40%;
    border-radius: 5px;
  }
}
