.movieBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: green;
  margin: 0;
  padding: 0;
}
.movieBackgroundOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.backgroundPoster {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.moviename {
  position: relative;
  font-size: 64px;
  color: #eabc17;
  margin-top: 25rem;
  margin-left: 4rem;
  padding: 0;
  z-index: 1;
}
.logo {
  z-index: 1;
}
.releaseDate {
  /* background-color: wheat; */
  position: absolute;
  font-size: 24px;
  color: #eabc17;
  margin-top: 1rem;
  margin-left: 4.1rem;
  padding: 0;
  z-index: 1;
}
.favIcon {
  position: relative;
  font-size: 24px;
  color: #eabc17;
  margin-top: 1rem;
  margin-left: 60rem;
  padding: 0;
  z-index: 1;
}

.toggleAboutAndReview {
  display: flex;
}

.toggleAboutAndReview {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 896px;
  height: 30px;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 40px;
  margin-left: 64px;
  z-index: 2;
}

.aboutWrapper h3 {
  color: white;
  cursor: pointer;
}
.aboutWrapper h3:hover {
  color: #c89c0e;
}
.reviewWrapper h3 {
  color: white;
  cursor: pointer;
}
.reviewWrapper h3:hover {
  color: #c89c0e;
}
/* 
.aboutSection {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: yellow;
  color: white;
  z-index: 1;
}
.reviewSection {
  position: absolute;
  width: 100px;
  height: 30px;
  margin-top: 20x;
  background-color: yellow;
  color: wheat;
  z-index: 1;
} */
