.login_page_container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secondary-neutral);
}
.login_background_container {
  width: 100%;
  height: 100%;
}
.form_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(min(1728px, 100%) * 0.35);
  height: 288px;
  background-color: rgba(44, 35, 4, 0.97);
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.userName {
  border: none;
  width: 100%;
  height: 2em;
  font-family: var(--ff-paragraph);
  padding-inline: 0.5rem;
}
.password {
  border: none;
  width: 100%;
  height: 2em;
  font-family: var(--ff-paragraph);
  padding-inline: 0.5rem;
}

.login_btn {
  width: 4em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--clr-primary-accent);
  color: var(--clr-primary-neutral);
  font-family: var(--ff-paragraph);
  margin-left: -24px;
  cursor: pointer;
}
.anchorTag {
  color: var(--clr-primary-accent);
  font-family: var(--ff-paragraph);
  font-size: var(--fs-custom-text);
  font-weight: var(--fw-secondary-600);
  letter-spacing: 0.12ch;
  text-decoration: none;
}
